name: scraper

on:
  schedule:
    - cron:  '53 15 * * *'
    
  workflow_dispatch:

jobs:

  build:
  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Python
        uses: actions/setup-python@v2.3.1
        with:
          python-version: 3.8.10
          cache: pip
          
      - name: Install packages
        run: |
          pip install bs4
          pip install requests
          pip install pandas
          pip install selenium
          
      - name: scrape
        run: python3 scraper.py
        
      - name: commit files
        run: |
          git config --local user.name sjerzykiewicz
          git config --local user.email "sjerzykiewicz@users.noreply.github.com"
          git add data/*
          git commit -am "Automated data update"
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
